# Main environment configuration file for the application
# This file contains sensitive information and should not be shared publicly.

# Database
DB_HOST=localhost
DB_NAME=example_db
DB_USER=example 
DB_PASSWORD=example123
DB_PORT=5432
DATABASE_URL=postgresql://example:example123@localhost:5432/example_db

EMAIL_ENCRYPTION_KEY=example_encryption_key

# Redis configuration
REDIS_URL=example.redis.cache.windows.net
REDIS_DB=0
REDIS_PORT=9999
REDIS_USERNAME=example_redis_user
REDIS_PASSWORD=example_redis_password

# Backend
APP_ENV=production
PORT=8000
FRONTEND_URL=http://example.com
BACKEND_URL=http://example.com/api
JWT_SECRET_KEY=example_nextauth_secret
JWT_EXPIRATION_TIME=3600 # 1 hour
INTERNAL_API_KEY=example_internal_api_key

# API settings
TOGETHER_API_KEY=example_together_api_key
GOOGLE_GENAI_API_KEY=example_google_genai_api_key

# Twitter API configuration
TWITTER_API_KEY=example_twitter_api_key
TWITTER_API_SECRET=example_twitter_api_secret
TWITTER_ACCESS_TOKEN=example_twitter_access_token
TWITTER_ACCESS_TOKEN_SECRET=example_twitter_access_token_secret
TWITTER_BEARER_TOKEN=example_twitter_bearer_token

# Other settings
ALLOWED_ORIGINS=http://example.com,http://localhost:4000
LOG_LEVEL=INFO

# Web3 (EDUChain Testnet)
NFT_CONTRACT_ADDRESS=0x1234567890abcdef1234567890abcdef12345678
EDU_TESTNET_RPC_URL=https://rpc.open-campus-codex.gelato.digital
EDU_CHAIN_TESTNET_CHAIN_ID=656476
BACKEND_MINTER_PRIVATE_KEY=0x

WORKERS_PER_CORE=4 # For Gunicorn

# Frontend (Build-time and potentially runtime)
NEXT_PUBLIC_API_URL=http://example.com/api  # Client-side public URL
INTERNAL_API_URL=http://backend:8000    # Internal URL for server-side (Docker)
NEXTAUTH_URL=http://example.com
NEXTAUTH_SECRET=example_nextauth_secret
GOOGLE_CLIENT_ID=example_google_client_id
GOOGLE_CLIENT_SECRET=example_google_client_secret

# Admin Credentials
ADMIN_EMAIL=example@example.com
ADMIN_PASSWORD=example_admin_password

# Common
TZ=Asia/Jakarta # Example timezone

# Development Environment Variables
NEXT_PUBLIC_API_URL_DEV=
NEXTAUTH_URL_DEV=

FRONTEND_URL_DEV=
BACKEND_URL_DEV=

# For development: set to 'true' to enable hardcoded admin@ugm.ac.id login
ALLOW_DEV_CREDENTIALS=false
